pandas>=2.2.3
numpy>=2.1.0
scikit-learn==1.9.0
matplotlib>=3.9.2
seaborn>=0.13.2
xgboost>=2.1.0
lightgbm>=4.5.0
imbalanced-learn>=0.13.0
jupyter>=1.0.0
tensorflow>=2.16
streamlit>=1.49  
plotly>=5.22          
joblib>=1.4